.match-container h3 {
    padding: 10px 40px;
    color: #999;
    font-family: Roboto,"Helvetica Neue",sans-serif;
    text-transform: uppercase
}

.card {
    margin: 0 0 30px 50px;
    max-width: 300px;
    display: inline-block;
}

.card img {
    width: 100%;
    margin-bottom: 5px
}  

.card span {
    font-size: 40px;
    padding: 0 20px;
    line-height: 90px
}

.mat-card-content {
    height: 85px;
}   
  
.home, .away {
    width: 70px;
    text-align: center;
    font-size: 12px;
    text-transform: uppercase
}

.home {
    float: left
}

.away {
    float: right;
}