.match-container h3 {
    padding: 10px 40px;
    color: #999;
    font-family: Roboto,"Helvetica Neue",sans-serif;
    text-transform: uppercase
}

.card {
    margin: 0 0 30px 50px;
    max-width: 300px;
    display: inline-block;
}

.card img {
    width: 100%;
    margin-bottom: 5px
}  

.card span {
    font-size: 35px;
    padding: 0 30px;
    line-height: 60px
}
  
.home, .away {
    width: 65px;
    text-align: center !important;
    text-transform: uppercase;
    font-size: 10px;
}

.home img, .away img {
    width: 40px;
}

.left {
    float: left;
    text-align: left
}

.right {
    float: right;
    text-align: right
}

.mat-card-footer ul{
    margin: 0;
    padding: 5px;
    list-style: none;
    font-size: 11px;
}

.table-container {
    padding: 0 30px
}

/* Structure */
table {
    width: 100%;
}

.mat-form-field {
    font-size: 14px;
    width: 100%;
}