<mat-spinner *ngIf="loading; else container" [diameter]="40"  style="position:fixed;top:50%;left:50%" mode="indeterminate"></mat-spinner>
<ng-template #container>
    <div class="match-container">
        <h3>{{ type }}</h3>
        <div class="table-container" *ngIf="type == null; else other_content">
          <mat-form-field>
            <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
          </mat-form-field>
          
          <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
          
            <!-- Name Column -->
            <ng-container matColumnDef="date">
              <th mat-header-cell *matHeaderCellDef> Date </th>
              <td mat-cell *matCellDef="let element"> {{element.date}} </td>
            </ng-container>
      
            <!-- Name Column -->
            <ng-container matColumnDef="hour">
                <th mat-header-cell *matHeaderCellDef> Hour </th>
                <td mat-cell *matCellDef="let element"> {{element.hour}} </td>
              </ng-container>
          
            <!-- Weight Column -->
            <ng-container matColumnDef="homeCountry">
              <th mat-header-cell *matHeaderCellDef> Home country </th>
              <td mat-cell *matCellDef="let element"> 
                <mat-icon>
                  <img src="/assets/images/svg/{{element.homeCountry.replace(' ','-').toLowerCase()}}.svg" alt="">
                </mat-icon>
                {{element.homeCountry}} 
              </td>
            </ng-container>
      
            <!-- Symbol Column -->
            <ng-container matColumnDef="goals">
                <th mat-header-cell *matHeaderCellDef> Score </th>
                <td mat-cell *matCellDef="let element"> {{element.goals}}  
            </ng-container>
          
            <!-- Symbol Column -->
            <ng-container matColumnDef="awayCountry">
              <th mat-header-cell *matHeaderCellDef> Away country </th>
              <td mat-cell *matCellDef="let element"> 
                <mat-icon>
                  <img src="/assets/images/svg/{{element.awayCountry.replace(' ','-').toLowerCase()}}.svg" alt="">
                </mat-icon>
                {{element.awayCountry}}
              </td>
            </ng-container>
      
            <!-- Symbol Column -->
            <ng-container matColumnDef="status">
                <th mat-header-cell *matHeaderCellDef> Status </th>
                <td mat-cell *matCellDef="let element"> 
                  {{element.status}}
                </td>
              </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>    
        </div>
        <ng-template #other_content>
          <mat-list class="match-list">
            <mat-card class="card" *ngFor="let m of matches">
              <mat-card-content>
                <div class="home left">
                  <img mat-card-img src="/assets/images/svg/{{m.home_team.country.replace(' ','-').toLowerCase()}}.svg" alt="">
                  {{m.home_team.country}}
                </div>
                <span>{{m.home_team.goals}} : {{m.away_team.goals}}</span>
                <div class="away right">
                  <img mat-card-img src="/assets/images/svg/{{m.away_team.country.replace(' ','-').toLowerCase()}}.svg" alt="">
                  {{m.away_team.country}}
                </div>
                <div style="text-align: center">{{m.datetime.substring(11,16)}}</div>
              </mat-card-content>
              <mat-divider></mat-divider>
              <mat-card-footer>
                <div class="left">
                    <ul>
                      <li *ngFor="let e of m.home_team_events">
                        <small *ngIf="e.type_of_event == 'goal'">{{e.player}} {{e.time}}</small>
                      </li>
                    </ul>
                </div>
                <div class="right">
                    <ul>
                      <li *ngFor="let e of m.away_team_events">
                          <small *ngIf="e.type_of_event == 'goal'">{{e.player}} {{e.time}}</small>
                      </li>
                    </ul>
                </div>
              </mat-card-footer>
            </mat-card>
          </mat-list>
        </ng-template>
      </div>
</ng-template>
