<mat-card class="card">
  <mat-card-content>
    <img mat-card-img src="/assets/images/svg/afghanistan.svg" alt="">
    <span>3:3</span>
    <img mat-card-img src="/assets/images/svg/mongolia.svg" alt="">
  </mat-card-content>
  
  <mat-card-actions align="end">
    <button mat-icon-button aria-label="Favorite">
      <mat-icon>favorite</mat-icon>
    </button>
    <button mat-icon-button aria-label="Settings">
      <mat-icon>chat</mat-icon>
    </button>
    <button mat-icon-button aria-label="Share">
      <mat-icon>share-arrow</mat-icon>
    </button>
  </mat-card-actions>
</mat-card>