<mat-card>
  <!-- <h1 class="form-signin-heading">Sign in</h1> -->
  <img class="proimage" src="../../../assets/images/fifa_icon2.svg.png" />
  <form (submit)="login()">
    <p>
      <mat-form-field class="form-field">
        <input matInput type="email" placeholder="Enter your email" [(ngModel)]="credentials.email" required/>
      </mat-form-field>
    </p>
    <p>
      <mat-form-field>
        <input matInput name="password" placeholder="Enter your password" [type]="show ? 'text' : 'password'" [(ngModel)]="credentials.password" required/>
        <mat-icon matSuffix (click)="show = !show">{{show ? 'visibility' : 'visibility_off'}}</mat-icon>
      </mat-form-field>
    </p>
    <p>
      <a class="sign-up-button" routerLink="/register" mat-button>
        Sign up instead
      </a>
      <button class="sign-in-button" mat-raised-button type="submit">
        Sign In
      </button>
    </p>
  </form>
</mat-card>