<div>
  <mat-toolbar>
    <button mat-icon-button>
      <img src="/assets/images/fifa_icon2.svg.png" style="height: 40px">
    </button>
    <span class="title">Fifa Chat</span>

    <div>
      <nav mat-tab-nav-bar>
        <a mat-tab-link *ngFor="let link of navLinks" [routerLink]="link.path" routerLinkActive #rla="routerLinkActive" [active]="rla.isActive">
          {{link.label}}
        </a>
      </nav>
    </div>
    <span class="example-fill-remaining-space"></span>
    <div>
      <a *ngIf="!auth.isLoggedIn()" mat-raised-button routerLink="/login">
        <span>Sign In</span>
      </a>
      <a *ngIf="auth.isLoggedIn()" mat-mini-fab color="white" matTooltip="{{ auth.getUsername() }}">
        <mat-icon>person</mat-icon>
      </a>
      
    </div>

    <mat-menu #appMenu="matMenu">
        <button mat-menu-item *ngIf="auth.isLoggedIn()" routerLink="/profile">Profile</button>
        <button mat-menu-item *ngIf="auth.isLoggedIn()" routerLink="/logout" (click)="auth.logout()" color="warn" matTooltip="Sign out">Sign out</button>
    </mat-menu>
    
    <button mat-icon-button [matMenuTriggerFor]="appMenu" *ngIf="auth.isLoggedIn()">
      <mat-icon>more_vert</mat-icon>
    </button>
    
  </mat-toolbar>
  <router-outlet></router-outlet>
</div>