<div class="match-container">
  <div class="left">{{match?.venue}} - {{match?.location}}</div>
  <div class="right">
    {{match?.time}}
    <mat-progress-bar *ngIf="match?.time != 'full-time'" mode="indeterminate" value="{{match?.time*0.9}}" color="accent"></mat-progress-bar>
  </div>
  <div class="match">
      <div class="left country">
        <img src="/assets/images/svg/{{match?.home_team.country.replace(' ','-').toLowerCase()}}.svg" width="50"/>
        <div>{{match?.home_team.country}}</div>
      </div>
      <span>{{match?.home_team.goals}} : {{match?.away_team.goals}}</span>
      <div class="right country">
        <img src="/assets/images/svg/{{match?.away_team.country.replace(' ','-').toLowerCase()}}.svg" width="50"/>
        <div>{{match?.away_team.country}}</div>
      </div>
  </div>
</div>
<div class="chat-container">
  <mat-card class="main-card">
    <mat-list class="chat-list">
      <mat-list-item *ngFor="let message of messages" [ngClass]="[(message.action === undefined && message.from.id === user.id)? 'chat-list-item': '']">
        <img mat-list-avatar *ngIf="message.action === undefined" [src]="message.from.avatar">
        <h4 mat-line *ngIf="message.action === undefined">
          <b>{{message.from.name}}</b>
        </h4>
        <p mat-line *ngIf="message.action === undefined">
          <span> {{message.content}} </span>
        </p>
        <p mat-line *ngIf="message.action === action.JOINED && message.from.name != user.name" class="chat-notification">
          <span>
            <b>{{message.from.name}}</b> joined to the conversation. </span>
        </p>
        <p mat-line *ngIf="message.action === action.LEFT" class="chat-notification">
          <span>
            <b>{{message.from.name}}</b> left the conversation. </span>
        </p>
        <p mat-line *ngIf="message.action === action.EVENT" class="chat-notification">
          <span>
            <b>{{message.content.event.time}} : </b> 
            <mat-icon>
              <img src="/assets/images/event/{{message.content.event.type_of_event}}.png" width="20"/>
            </mat-icon> 
            <span>  {{message.content.event.player}}  </span>
            <mat-icon>
              <img src="/assets/images/svg/{{message.content.event.country.replace(' ','-').toLowerCase()}}.svg" height="20"/>
            </mat-icon>
          </span>
        </p>
      </mat-list-item>
    </mat-list>
    <div class="chat-footer-container">
      <mat-icon>message</mat-icon>
      <mat-form-field class="chat-input">
        <input matInput #inputMessage maxlength="140" placeholder="Type your message" [(ngModel)]="messageContent" (keyup.enter)="sendMessage(messageContent)">
        <mat-hint align="end">{{inputMessage.value.length}}/140</mat-hint>
      </mat-form-field>
    </div>
  </mat-card>
</div>