[mat-fab] {
    position: absolute;
    right: 2%;
    top: 35px;
    z-index: 1;
}

.chat-container {
    position: fixed;
    width: 100%; 
    height: 100%;  
    top: 140px;
}

.chat-input {
    padding-top: 20px;
    width: 80%; 
}

.chat-list {
    overflow: auto;
    position: fixed;
    top: 140px;
    left: 25px;
    right: 25px;
    bottom: 120px;
}

.chat-list-item {
    margin-top: 2px;
    margin-bottom: 2px;
    border-radius: 5px;
    background-color: #E8EAF6;
}

.main-card {
    height: 100%;  
}

.chat-footer-container {
    position:fixed;
    bottom:25px;
    left:25px;
    right:25px;
}

.chat-notification {
    text-align: center;
}

.match-container {
    font-family: Roboto,"Helvetica Neue",sans-serif;
    font-size: 13px;
    padding: 0 20px;
    text-transform: uppercase
}
.match {
    width: 400px;
    margin: 20px auto;
    text-align: center;
    font-size: 11px;
}

.match span {
    line-height: 60px;
    font-size: 25px;
}

.left {
    float: left;
}

.right {
    float: right;
}

.country {
    text-align: center;
    width: 150px;
}

.mat-list .mat-list-item, .mat-nav-list .mat-list-item, .mat-selection-list .mat-list-item {
    font-size: 11px !important
}

.mat-list .mat-list-item {
    height: 40px;
}