mat-card {
    width: 300px;
    margin: 3% auto;
    border-radius: 8px;
}

mat-form-field {
    width: 100%;
}

.sign-in-button {
    color: #4285f4;
}

.sign-up-button {
    color: white;
    background: #4285f4;
    float: right;
    border-radius: 5px;
}

.lead {
    clear: both;
    padding: 20px 5px;
}

h1 {
    font-family: dusha;
}