<mat-card>
  <!-- <mat-card-header>
    <mat-card-title>Profile</mat-card-title>
  </mat-card-header> -->
  <h1>Profile</h1>
  <img class="proimage" src="/assets/images/avatar.png" />
  <p>
    <mat-form-field appearance="outline">
      <mat-label>Fullname</mat-label>
      <input matInput placeholder="Placeholder" value="{{details?.name}}" readonly>
    </mat-form-field>
  </p>
  <p>
    <mat-form-field appearance="outline">
      <mat-label>Email address</mat-label>
      <input matInput placeholder="Placeholder" value="{{details?.email}}" readonly>
    </mat-form-field>
  </p>
</mat-card>